/* FONTS */

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Lekton";
  src: url("../assets/fonts/Lekton-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Lekton";
  src: url("../assets/fonts/Lekton-Bold.ttf") format("truetype");
  font-weight: bold;
}



/* VARIABLES */

:root {
  /* colours */
  --dark-grey: #202124;
  --purple: #6F04D9;
  --dark-blue: #1B0273;
  --medium-blue: #3866F2;
  --light-medium-blue: #0597F2;
  --light-blue: #05C7F2;
  --off-white: #E6E6E6;
  --grey-1: #A0A0A0;
  --grey-2: #2E2F34;
  --grey-3: #4E4E4E;
  --red: rgb(196, 2, 2);
  --green: rgb(29, 124, 29);
  

  /* gradients */
  --blue-purple-gradient: linear-gradient(90.77deg, #05C7F2 0%, #953CEE 100%);
  --purple-gradient: linear-gradient(105.4deg, #6F04D9 39.2%, #1B0273 97.9%);


  /* font sizes */
  --small-size: 0.75rem;
  --body-size: 1rem;
  --h3-size: 1.333rem;
  --h2-size: 1.777rem;
  --h1-size: 2.369rem;
  --large-size: 3.157rem;
  --very-large-size: 4.209rem;
}


/* BASIC SELECTORS */

html, body {
  min-height: 100vh;
  background-color: var(--dark-grey);
}

body {
  color: var(--off-white);
}

p, small, figcaption, a, span, label, input, textarea, select, option, legend {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h1 > span, h2 > span, h3 > span {
  font-family: "Lekton", monospace;
  font-weight: bold;
}

small, figcaption {
  font-size: var(--small-size);
}

input, select, option {
  font-size: var(--body-size);
}

h3 {
  font-size: var(--h3-size);
}

h2 {
  font-size: var(--h2-size);
}

h1 {
  font-size: var(--h1-size);
}

input[type="text"], input[type="password"] {
  display: block;
  font-size: var(--body-size);
  background-color: white;
  padding: 0.5rem 1rem;
  width: 100%;

  border-radius: 5px;
  border-color: var(--grey-1);
  border-width: 1px;
}

input[type="password"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="checkbox"] {
  aspect-ratio: 1/1;
  height: 1rem;
  background-color: var(--off-white);
  cursor: pointer;
}

input[type="submit"] {
  margin-top: 0.5rem;
}

textarea {
  width: 100%;
  font-size: 1rem;
  resize: vertical;
}

a {
  color: var(--off-white);
  text-decoration: none;
}

a:hover {
  color: var(--light-medium-blue);
}

a > img {
  display: inline-block;
}

a:has(img) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem
}

.hidden {
  display: none !important;
}

.password-input {
  display: flex;
}

.password-input > input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.show-password {
  cursor: pointer;
  background-color: white;
  padding: 0.5rem 1rem;

  border: 1px solid var(--grey-1);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background-repeat: no-repeat;
  background-position: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-container > img {
  height: 50px;
}

nav .logo-container > img {
  height: 30px;
}

.logo-text {
  font-size: 2.25rem;
}

.form-part {
  margin-bottom: 1rem;
  text-align: left !important;
}

.form-title {
  margin-bottom: 0.5rem;
}

.primary-btn {
  padding: 0.5rem 2rem;
  font-weight: bold;
  cursor: pointer;

  color: var(--off-white);
  background: var(--purple-gradient);

  border-radius: 10px;
  border: none;
}

.primary-btn-white {
  padding: 0.3rem  1rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  color: var(--dark-grey);
  background-color: var(--off-white);

  border-radius: 10px;
  border: none;
}

.primary-btn-white:hover {
  color: var(--dark-grey);
}

.secondary-btn-white {
  padding: 0.2rem 3rem;
  cursor: pointer;
  text-decoration: none;

  color: var(--off-white);
}

#primary-btn-nav {
  border-radius: 10px;
  padding: 0.1rem  3rem;
  
}

.button {
  transition: transform 100ms;

}

.button:hover {
  transform: scale(102%);
}

.button:active {
  transform: scale(98%);
}

/* nav */

#primary-nav {
  background: linear-gradient(180deg, rgba(32, 33, 36, 0) -561%, rgba(32, 33, 36, 0.35) 100%), linear-gradient(105.4deg, #6F04D9 39.2%, #1B0273 97.9%);
  height: 50px;
  padding: 0 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 9999;
  width: 100%;
}

#primary-nav ul {
  list-style: none;
  padding-left: 0;
}

#primary-nav li {
  display: inline-block;
  margin-left: 1.5rem;
}

.logo-ul-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-bar {
  background-color: var(--off-white) !important;

  max-width: 400px;
  max-height: 30px;
  pointer-events: auto;

  text-align: center;
  justify-self: center;

  border-radius: 100px !important;
  transition: width 300ms;
}

#search-bar-li {
  display: flex !important;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  margin: 0 !important;
  pointer-events: none;
}

.blue-text {
  color: var(--light-blue);
}

.red-text {
  color: var(--red);
}

.white-a {
  color: var(--off-white);
  text-decoration: none;
}

.white-a:hover {
  color: white;
}

.account-nav {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.vertical-line {
  background-color: var(--grey-1);
  height: 30px;
  width: 1px;
  margin: 0 1rem;
}

.profile-a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-a > figure {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: inline;
  aspect-ratio: 1/1;
  height: 30px;

  border-radius: 100%;
}

.credits {
  margin-right: 1rem;
}

#hamburger-menu {
  display: none;
  cursor: pointer;
}

#nav-place-filler {
  height: 50px;
  display: block;
}

#account-nav {
  height: 50px;
}

#account-nav li {
  height: 100%;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

#not-login-profile-pic {
  display: none;
  background-image: url(../assets/images/site/default-user-pic.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center right;
  height: 50px;
  width: 30px;
}

#account-nav-login {
  position: relative;
  height: auto;
}

#account-nav-hitbox-login {
  position: absolute;
  width: 250px;
  display: none;

  padding: 0.3rem 0;

  top: 120%;
  right: -5px;
  overflow: hidden;

  background-color: var(--grey-2);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#account-nav-profile-info {
  display: flex;
  align-items: center;
  gap: 0.5rem 1rem;
  padding: 1rem;
}

#account-nav-profile-info > figure {
  aspect-ratio: 1/1;
  width: 45px;
  height: 45px;

  background-size: cover;
  background-position: center;

  border-radius: 100%;
}

#account-nav-profile-info p {
  margin-bottom: -0.2rem;
}

#account-nav-hitbox-login > hr {
  border: none;
  height: 1px;
  margin: 5px 0;
  background-color: var(--grey-3);
}

#account-nav-login > li {
  margin: 0;
  display: block;
}

#account-nav-login li > a, #account-nav-mod-btn {
  padding: 0.7rem 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 20px 1fr;
  gap: 0.7rem;
}

#account-nav-login li > a:hover, #account-nav-mod-btn:hover {
  background-color: rgba(80, 80, 80, 0.3);
  color: var(--off-white);
}

#account-nav-login li > a > img, #account-nav-mod-btn > img {
  width: 20px;
  height: 20px;
  justify-self: center;
}

#notifications-btn {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  background: none;
  padding: 0;
  background-image: url(../assets/images/site/bell-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  height: 25px;
}

.active > #notifications-btn {
  background-image: url(../assets/images/site/bell-filled-icon.svg);
}

#notification-count {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(40%, -30%);
  font-size: var(--body-size);
  color: var(--off-white);
  padding: 0 0.4rem;
  margin: 0;
  background-color: var(--red);
  border-radius: 10px;
}

#notifications-container {
  display: none;
  position: absolute;
  width: 400px;
  height: 500px;
  top: 125%;
  right: -20px;
  padding: 0.3rem 0;
  overflow: hidden;

  background-color: var(--grey-2);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#notifications-top > p {
  padding: 0.5rem 1rem;
}

#notifications-top > hr {
  border: none;
  height: 1px;
  margin-top: 5px;
  background-color: var(--grey-3);
}

#notifications-list {
  overflow-y: auto;
  padding: 5px 0;
  height: calc(100% - 2.5rem);
}

#notifications-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  aspect-ratio: 1/1;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  background-color: var(--grey-2);
  border-radius: 100%;
  z-index: 100;
}

#notifications-loading::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--grey-2);
  border-radius: 100%;
}

#notifications-loading::before {
  border-radius: 100%;
  z-index: 0;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: conic-gradient(var(--grey-2) 0deg, var(--light-blue) 360deg);
  width: 125%;
  height: 125%;
  transform: translate(-50%, -50%);
  animation: notifications-loading infinite 1s;
}

@keyframes notifications-loading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);}
}

#notifications-list::-webkit-scrollbar {
  width: 10px;
}

#notifications-list::-webkit-scrollbar-track {
  background: none;
}

#notifications-list::-webkit-scrollbar-thumb {
  background: var(--grey-1);
  border-radius: 10px;
}

.notification {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.notification:hover {
  color: var(--off-white);
  background-color: rgba(80, 80, 80, 0.3);
}

.notification small {
  color: var(--grey-1);
}

.notification > figure {
  aspect-ratio: 1/1;
  height: 60px;
  background: var(--off-white);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.notification-caught-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.notification-caught-up > p {
  color: var(--grey-1);
}

.dropdown.active > #notifications-container {
  display: block !important;
}

.dropdown.active > #account-nav-hitbox-login {
  display: block !important;
}

#account-nav-btn {
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: none;
}


/* OTHER */

.valid-icon {
  pointer-events: none;

  position: absolute;
  right: 5px;
  top: 0;

  aspect-ratio: 1/1;
  height: 100%;

  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}


@media screen and (max-width: 1300px) {
  .search-bar {
    width: 90px !important;
  }

  .search-bar:focus {
    width: 100% !important;
  }

  #search-bar-li:has(.search-bar:focus) {
    background-color: rgba(32, 33, 36, 0.35)
  }
}

@media screen and (max-width: 1000px) {
  #primary-nav { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logo-ul-container {
    display: flex;
    justify-content: center;
  }

  #hamburger-menu {
    display: block;
  }

  #search-bar-li {
    position: relative;
    top: 0;
    display: block;
    height: auto;
  }

  .search-bar {
    border-radius: 0 !important;
    max-width: none;
    width: 100% !important;
    top: 0;
  }

  #nav-ul {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: var(--grey-2);
    transform: translateX(0);
    transition: transform 200ms;
  }

  .hamburg-transform {
    transform: translateX(-100%) !important;
  }

  #nav-ul li {
    display: block;
    margin-left: 0;
  }

  #nav-ul li a {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem !important;
    border-bottom: 1px solid var(--grey-1);
  }

  .credits {
    display: none;
  }

  #not-login-profile-pic {
    display: block;
  }

  #account-nav-hitbox {
    position: absolute;
    right: 1.5rem;
    top: 25px;
    padding-top: 30px;
    display: none;
  }

  #account-nav {
    position: relative;
    height: auto;
    background-color: var(--off-white);
    border-radius: 10px;
  }

  #account-nav::before {
    position: absolute;
    right: 6px;
    top: -8px;

    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid var(--off-white);
  }

  #account-nav li {
    display: block;
    height: auto;
  }

  #account-nav li > a {
    display: block;
    color: var(--dark-grey);
    padding: 0.3rem 2rem;
    border-radius: 0;
    border-bottom: 1px solid var(--grey-2);
    background-color: transparent;
  }

  #account-nav li > a:hover {
    transform: scale(100%);
  }

  .account-nav:hover #account-nav-hitbox {
    display: block;
  }

  #account-nav-hitbox:hover {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .hide-media-query {
    display: none;
  }

  .account-nav {
    gap: 0.7rem;
  }
}

/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}