body {
    display: grid;
    grid-template-rows: 50px 1fr;
}

main {
    display: grid;
    grid-template-columns: 250px 1fr;
}


/* ASIDE */

aside {
    position: fixed;
    height: 100%;
    width: 250px;
    padding: 2rem 1.5rem;

    border-right: 2px solid var(--grey-2);
}

#aside-placeholder {
    height: 100%;
}

aside ul {
    list-style-type: none;
  }
  
.nav-ul {
    margin-left: -30px;
  }
  
.nav-ul li a{
    font-size: var(--body-size);
}
/* PROFILE PAGE */

.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.center > h1 {
    margin-bottom: 1rem;
}

#profile-header-div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#profile-header {
    padding: 0 3rem;
    background-color: var(--grey-2);
}

#profile-header-div > figure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    aspect-ratio: 1/1;
    max-width: 200px;
    width: 100%;
    border-radius: 100%;
}

#profile-header-username {
    font-size: var(--very-large-size);
    background: var(--blue-purple-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#profile-header-information > span {
    background-color: var(--dark-grey);
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    margin-right: 0.5rem;
}

section {
    padding: 2rem 0;
}

#profile-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.achievements-container {
    background-color: var(--grey-2);
    border-radius: 10px;
    padding: 1rem;
}


/* SETTINGS */

#settings-error-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid rgb(196, 2, 2);
    background-color: rgb(196, 2, 2);
    padding: 1rem;
}

#settings-success-section {
    display: flex;
    justify-content: center;

    background-color: green;
    border: 1px solid green;
}

#settings-error-section > h2 {
    margin: 0;
}

.settings-section {
    padding: 1rem;
    padding-bottom: 0;
    margin: 0 2rem;
    margin-bottom: 2rem;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    border: 2px solid rgb(77, 77, 77);
    border-radius: 10px;
}

.settings-section:last-child {
    margin-bottom: 0;
}

.settings-section > h2 {
    margin-bottom: 0.5rem;
}

.settings-section > p {
    margin-bottom: 1rem;
}

.settings-section > a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    color: var(--off-white);
    text-decoration: none;
    padding: 1.5rem 0;

    border-bottom: 1px solid rgb(77, 77, 77);
}

.settings-section > a:last-child {
    border-bottom: none;
}

.settings-section > a > * {
    pointer-events: none;
}

.right-arrow {
    background-image: url(../assets/images/site/right-arrow-icon.svg);
    background-repeat: no-repeat;
    background-position: top right;
    height: 24px;
}

.profile-image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.profile-image > figure {
    aspect-ratio: 1/1;
    height: 100px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    border-radius: 100%;
}

#deletion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 1rem 0;
}

#deletion-container > a {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border: 2px solid var(--red);
    border-radius: 10px;
}

.absolute-form-div {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.50);
    width: 100vw;
    height: 100vh;
}

.absolute-form {
    width: 100%;
    max-width: 350px;
    padding: 1rem;

    background-color: var(--off-white);
    border-radius: 10px;
}

.absolute-form * {
    color: var(--dark-grey);
}

.absolute-form h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.absolute-form > p {
    margin-bottom: 1.5rem;
}

.absolute-form > .form-part {
    margin: 1rem 0;
}

.absolute-form input[type="submit"] {
    color: white;
}

.absolute-form > .form-submit {
    display: flex;
    justify-content: center;
}

.absolute-form .title-container {
    position: relative;
}

.title-container > img {
    position: absolute;
    top: 0.5rem;
    cursor: pointer;
}

#profilePic-form {
    padding: 0;
}

#profilePic-image-div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 1rem;

    background-color: var(--grey-2);

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


#profilePic-image {
    position: relative;
}

#profilePic-image > label {
    cursor: pointer;
}

#profilePic-image > label > figure {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    aspect-ratio: 1/1;
    height: 250px;

    border-radius: 100%;
}

#profilePic-image > label > i {
    position: absolute;
    right: 15px;
    bottom: 15px;

    aspect-ratio: 1/1;
    width: 35px;

    background-image: url(../assets/images/site/camera-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
}

.deletion-form {
    border: 5px solid rgb(141, 11, 11);
}


/* ADD PROMPT */

#prompt-header {
    position: relative;

    aspect-ratio: 6/1;
    width: 100%;

    background-image: url(../assets/images/site/prompt-example-header.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

label > #prompt-header {
    cursor: pointer;
}

#prompt-header > div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.1);
}

#prompt-header > i {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 1000;

    aspect-ratio: 1/1;
    width: 35px;
    background-image: url(../assets/images/site/camera-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
}