body {
    display: grid;
    grid-template-rows: 50px 1fr;
}

main {
    display: grid;
    grid-template-columns: 250px 1fr;
}


/* ASIDE */

aside {
    position: fixed;
    height: 100%;
    width: 250px;
    padding: 2rem 1.5rem;
    z-index: 10000;

    background-color: var(--dark-grey);

    border-right: 2px solid var(--grey-2);
}

#aside-placeholder {
    height: 100%;
}

#aside-nav > * {
    margin-bottom: 2rem;
}

.aside-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 0.7rem;
}

.aside-title:hover {
    color: var(--off-white);
    cursor: default;
}

.aside-title > img {
    height: 23px;
    transform: translateY(-0.2rem);
}

.aside-ul {
    list-style: none;
    padding-left: 0;
}

.aside-ul li {
    margin-bottom: 0.7rem;
    transition: transform 100ms;
}

.aside-ul li > a:hover {
    transform: translateX(0.4rem);
    color: var(--light-blue);
}

.aside-ul li > a {
    display: block;
    padding-left: 2.3rem;
    transition: transform 100ms;
}

.aside-ul li > a:active {
    transform: translateX(0%);
}

@media screen and (max-width: 1100px) {
    main {
        grid-template-columns: 75px 1fr;
    }

    aside {
        width: 75px;
        padding: 2rem 1rem;
    }

    aside a {
        justify-content: center !important;
        background-color: var(--grey-2);
        border-radius: 10px;

        aspect-ratio: 1/1;
        width: 100%;
        padding: 0.7rem !important;
        cursor: pointer !important;
    }

    aside a:hover {
        transform: scale(102%);
    }

    aside a:active {
        transform: scale(98%);
    }

    aside a > img {
        aspect-ratio: 1/1;
        height: 100% !important;
        transform: translateX(0) !important;
    }

    aside a > h2, aside a > span {
        display: none;
    }

    #aside-models {
        display: none;
    }

    .aside-ul {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px
    }

    #aside-placeholder {
        grid-row: 2 / span 1;
    }

    aside {
        height: 50px;
        width: 100%;
        bottom: 0;
        background-color: var(--dark-grey);

        padding: 0 1.5rem;

        border-right: none;
        border-top: 2px solid var(--grey-2);
    }

    #aside-nav {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25%;
    }

    #aside-nav > * {
        margin: 0;
    }

    aside a {
        height: 25px;
        background: none;
        padding: 0 !important;
        margin: 0 !important;
    }

    #aside-nav > .primary-btn-white {
        width: auto;
        order: 2;
        height: 35px;
        padding: 0.5rem !important;
    }

    #aside-nav > div:last-child {
        order: 3;
    }
}


/* PROFILE PAGE */

.center-parent {
    padding: 0 3rem;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.center > h1 {
    margin-bottom: 1rem;
}

#profile-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

#biography-container {
    background-color: var(--dark-grey);
    padding: 1rem;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    #profile-grid {
        grid-template-columns: 1.5fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    #profile-grid {
        grid-template-columns: 1fr;
    }

    #profile-prompts {
        grid-row: 2;
    }

    .center-parent {
        padding: 0 1.5rem;
    }

    #profile-header-div {
        flex-direction: column;
        gap: 1rem !important;
    }

    #profile-header {
        padding: 0 1.5rem !important;
    }
}

.grey {
    color: var(--grey-1);
}

#profile-action-section {
    display: flex;
    gap: 1rem;

    margin-bottom: 2rem;
    padding: 0 1rem;
    border-radius: 10px;
}

#profile-action-section > a {
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: var(--blue-purple-gradient);
}

#profile-action-section > a:hover {
    color: var(--off-white);
}

#profile-about-section {
    background-color: var(--grey-2);
    border-radius: 10px;
}

#profile-about-section > *:not(hr) {
    padding: 1rem;
}

#profile-about-section > div > h3 {
    margin-bottom: 1rem;
}

#profile-achievements {
    background-color: var(--dark-grey);
    padding: 1rem;
    border-radius: 10px;
    display: grid;  
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

.achievement {
    position: relative;
}

.achievement span {
    display: none;
    position: absolute;
    text-align: center;
    right: 50%;
    transform: translate(50%, 5px);
    background-color: var(--grey-3);
    padding: 0.5rem;
    width: 200px;
    border-radius: 5px;
}

.achievement:hover span {
    display: block;
}

#profile-header-div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#profile-header {
    padding: 0 3rem;
    background-color: var(--grey-2);
}

#profile-header-div > figure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    aspect-ratio: 1/1;
    max-width: 200px;
    width: 100%;
    border-radius: 100%;
}

#profile-header-username {
    font-size: var(--very-large-size);
    background: var(--blue-purple-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#profile-header-information {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

#profile-header-information > span {
    background-color: var(--dark-grey);
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
}

#profile-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.achievements-container {
    background-color: var(--grey-2);
    border-radius: 10px;
    padding: 1rem;
}


/* SETTINGS */

#settings-error-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid rgb(196, 2, 2);
    background-color: rgb(196, 2, 2);
    padding: 1rem;
}

#settings-success-section {
    display: flex;
    justify-content: center;
    padding: 1rem;

    background-color: green;
    border: 1px solid green;
}

#settings-error-section > h2, #settings-success-section > h2 {
    margin: 0;
}

.settings-section {
    padding: 2rem 1rem;
    padding-bottom: 0;
    margin: 0 2rem;
    margin-bottom: 2rem;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    border: 2px solid rgb(77, 77, 77);
    border-radius: 10px;
}

.settings-section:last-child {
    margin-bottom: 0;
}

.settings-section > h2 {
    margin-bottom: 0.5rem;
}

.settings-section > p {
    margin-bottom: 1rem;
}

.settings-section > a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    color: var(--off-white);
    text-decoration: none;
    padding: 1.5rem 0;

    border-bottom: 1px solid rgb(77, 77, 77);
}

.settings-section > a:last-child {
    border-bottom: none;
}

.settings-section > a > * {
    pointer-events: none;
}

.right-arrow {
    background-image: url(../assets/images/site/right-arrow-icon.svg);
    background-repeat: no-repeat;
    background-position: top right;
    height: 24px;
}

.profile-image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.profile-image > figure {
    aspect-ratio: 1/1;
    height: 100px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    border-radius: 100%;
}

#deletion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 1rem 0;
}

#deletion-container > a {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border: 2px solid var(--red);
    border-radius: 10px;
}

.absolute-form-div {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.50);
    width: 100vw;
    height: 100vh;
}

.absolute-form {
    width: 100%;
    max-width: 350px;
    padding: 1rem;

    background-color: var(--off-white);
    border-radius: 10px;
}

.absolute-form * {
    color: var(--dark-grey);
}

.absolute-form h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.absolute-form > p {
    margin-bottom: 1.5rem;
}

.absolute-form > .form-part {
    margin: 1rem 0;
}

.absolute-form input[type="submit"] {
    color: white;
}

.absolute-form > .form-submit {
    display: flex;
    justify-content: center;
}

.absolute-form .title-container {
    position: relative;
}

.title-container > img {
    position: absolute;
    top: 0.5rem;
    cursor: pointer;
}

#profilePic-form {
    padding: 0;
}

#profilePic-image-div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 1rem;

    background-color: var(--grey-2);

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


#profilePic-image {
    position: relative;
}

#profilePic-image > label {
    cursor: pointer;
}

#profilePic-image > label > figure {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    aspect-ratio: 1/1;
    height: 250px;

    border-radius: 100%;
}

#profilePic-image > label > i {
    position: absolute;
    right: 15px;
    bottom: 15px;

    aspect-ratio: 1/1;
    width: 35px;

    background-image: url(../assets/images/site/camera-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
}

.deletion-form {
    border: 5px solid rgb(141, 11, 11);
}


/* LIST ALL PROMPTS PAGE */

#all-prompts-header {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#all-prompts-header > h1 {
    margin-bottom: 1.5rem;
}

#all-prompts-form > * {
    margin-bottom: 1rem;
}

#all-prompts-form > small {
    display: block;
    margin-bottom: 0.5rem;
}

#all-prompts-form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    padding: 0.7rem 1.5rem;
    background-color: var(--grey-2);

    border-radius: 10px;
}

.filter-btn > * {
    pointer-events: none;
}

.filter-btn > img {
    transition: rotate 200ms;
}

.filter-btn-open {
    rotate: 90deg;
}

.filter-btn:hover {
    color: var(--off-white) !important;
}

#order {
    background-color: var(--off-white);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    
}

.filter-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;

    background-color: var(--grey-2);
    padding: 1rem;
    border-radius: 10px;

    transform-origin: top center;
    transition: transform 200ms, opacity 200ms;
}

.filter-dropdown-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;
    width: 100%;
}

.filter-dropdown span {
    cursor: pointer;
    padding: 0.5rem 0; 
    padding-left: 2.5rem;
    border-radius: 10px;
}

.filter-dropdown span:hover {
    background-color: #3b6f7b;
}

.filter-dropdown-hidden {
    opacity: 0;
    transform: scaleY(50%);
}

.filter-dropdown-checked {
    color: var(--light-blue);
    background-image: url(../assets/images/site/blue-checkmark.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
}

.grey-hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: var(--grey-3);
}

#active-filters-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#active-filters-container > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 0.3rem 1rem;
    background-color: var(--grey-2);
    border-radius: 10px;
}

#active-filters-container > span > img {
    cursor: pointer;
    height: 20px;
}

.active-filter-model {
    background-color: var(--medium-blue) !important;
}

#all-prompts-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;

    padding: 2rem 0;
}

.prompt-card-header-model {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 14px;

    padding: 0.5rem 1rem;

    background-color: var(--dark-grey);
    border-radius: 10px;
}

.prompt-card-header-model > img {
    aspect-ratio: 1/1;
    height: 20px;
}

.prompt-card-header {
    background-size: cover;
    background-position: center;

    position: relative;

    display: block;
    aspect-ratio: 2.5/1;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.prompt-card-header:hover {
    color: var(--off-white) !important;
}

.prompt-card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.prompt-card-tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

.prompt-card-tags > span {
    color: var(--grey-1);
}

#profile-prompts-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

#profile-prompts > hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 2px;
    border: none;
    background-color: var(--grey-3);
}

.prompt-card-get-btn {
    padding-top: 0.5rem;
    aspect-ratio: 1/1;
    height: 27px;
}

.prompt-card-loading .prompt-card-header {
    background-color: var(--grey-2);
    border-radius: 10px;
}

.prompt-card-loading .prompt-card-body-left p {
    height: 1.3rem;
    width: 15rem;
    background-color: var(--grey-2);
    border-radius: 5px;
}

.prompt-card-loading .prompt-card-body-left small {
    display: block;
    margin-top: 0.5rem;
    height: 0.7rem;
    width: 10rem;
    background-color: var(--grey-2);
    border-radius: 5px;
}

.prompt-card-loading .prompt-card-get-btn {
    aspect-ratio: 1/1;
    height: 27px;
    background-color: var(--grey-2);
    border-radius: 100%;
}

#prompt-list-end {
    text-align: center;
    padding: 3rem 0;
}

#prompt-list-end > * {
    color: var(--grey-3);
}


/* LIBRARY PAGE */

#library-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#library-header > h1 {
    padding: 1.5rem;
}

#library-header > h1 > span {
    background: var(--blue-purple-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#library-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;

    padding: 0;

    border-bottom: 1px solid var(--grey-3);
}

#library-nav li {
    list-style: none;
    padding: 0.3rem;
    position: relative
}

#library-nav li > hr {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--off-white);
    transition: transform 0.3s, width 0.3s;   
}

#no-prompts-container {
    padding: 3rem 0;
    text-align: center;
    color: var(--grey-3);
}

#no-prompts-container a {
    color: var(--grey-3);
    position: relative;
}

#no-prompts-container a:hover {
    color: var(--grey-1);
}

#no-prompts-container a:hover::after {
    background-color: var(--grey-1);
}

#no-prompts-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--grey-3);
}

#note-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    background-color: var(--grey-2);

    padding: 1rem;
    margin-top: 1.5rem;

    border-radius: 10px;
}

.prompt-card-unapproved {
    border: 2px solid var(--red);
}

.not-approved-card-header {
    background-color: var(--red);
}