body {
    background: var(--purple-gradient);
    position: relative;

    padding: 0 2rem;
    display: grid;
    grid-template-rows: 1fr 50px;
    z-index: -1000;
}

#grey-shape-bg {
    background-image: url("../assets/images/site/grey-wave.svg");
    background-size: cover;
    background-position: center top;

    width: 100%;
    height: 40vh;

    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}

/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
    background: none;
}

#brand-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    margin-bottom: 3rem;
    text-align: center;
}

.white-a:has(img) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.white-a > img {
    transform: translateY(-2px);
}


/* MAIN */

main {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    text-align: left;

    background-color: rgb(201, 29, 29);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
}

#error-container:has(img) > img {
    aspect-ratio: 1/1;
    height: 30px;
}

#success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    margin-bottom: 1rem;

    background-color: rgb(29, 124, 29);

    border-radius: 10px;
}

form {
    background-color: var(--off-white);
    border-radius: 10px;
    color: var(--dark-grey);
    padding: 1rem;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

form > p {
    text-align: left;
    margin: 1rem 0;
}

#password-input {
    display: flex;
}

#password-input > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
}

#show-password {
    cursor: pointer;
    background-color: white;
    padding: 0.5rem 1rem;

    border: 1px solid var(--grey-1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    background-repeat: no-repeat;
    background-position: center;
}

.grey-a {
    color: var(--grey-1);
}

.grey-a:hover {
    color: var(--grey-1);
}

.line-both-sides {
    overflow: hidden;
    display: block;
    margin: 1rem 0;
}

.line-both-sides::after, .line-both-sides::before {
    display: inline-block;
    content: "";
    height: 1px;
    width: 45%;
    position: relative;
    background-color: var(--off-white);
    vertical-align: middle;
}

.line-both-sides::after {
    margin-left: -50%;
    right: 0.5rem;
}

.line-both-sides::before {
    margin-right: -50%;
    left: 0.5rem;
}

#sign-in-with-container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.sign-in-with-block {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1/1;
    padding: 1.3rem;

    background-color: var(--off-white);

    border-radius: 10px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}